* {
    margin: 0px;
}


body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #cccccc;
    padding: 15px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: #328639;
    font-size: 16px;
    font-weight: bold;
}

body.welcome div.description {
    text-align: center;
}

body.welcome div.welcome {
    text-align: center;
}

body.welcome div.questioncount {
    text-align: center;
}

div.navigator {
    padding: 20px 10px 10px 10px;
}
div.navigator > div {
    
    width: 33%;
    display: inline-block;
    text-align: center;
}
div.navigator > div:first-child {
    text-align: left;
}

div.navigator > div:last-child {
    text-align: right;
}