nav {
    overflow: hidden;
    border-color: #EFEFEF;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}
nav ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

ol.menubar-left {
    float: left;
}
ol.menubar-right {
    float: right;
}

nav li {
    display: inline-block;
    
}

nav li *{
    vertical-align: middle;
    
}

nav label{
    margin-right: 10px;   
}

    